.MyCarousel {
    height: 60%;
}

.Slider-Wrapper {
    font-size: 3.3vw;
    width: max-content;
    margin: 0 auto;
}

.Slider-Wrapper span {
    display: block;
}

.leftAlign {
    text-align: left;
}

.control-dots {
    position: static !important;
}

@media screen and (max-width: 600px) {
    .Slider-Wrapper {
        font-size: 4vw;
    }

}