.MyCarousel {
    height: 60%;
}

.Slider-Wrapper {
    font-size: 3.3vw;
    width: max-content;
    margin: 0 auto;
}

.Slider-Wrapper span {
    display: block;
}

.leftAlign {
    text-align: left;
}

.control-dots {
    position: static !important;
}